.clock {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.watch {
    font-size: 24px;
    margin-bottom: 10px;
}

.watchHover {
    cursor: pointer;
    background-color: #e6e6e6;
}

.moreContainer {
    margin-top: 10px;
}

.more {
    font-size: 16px;
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 0;
}

.moreShow {
    max-height: 50px; /* Измените высоту по вашему усмотрению */
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}