.App {
    --header_height: 60px;
}

.hw {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hwTitle {
color:white;

}

.container {
    border: 1px solid #48494d;
    padding: 10px;
    border-radius: 5px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width:1080px;
    min-height: 400px;
}